.row {
  margin-left: 20px;
  margin-bottom: 50px;
  color: white;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  /* scroll horizontally automatically at set
     speed, then when you stop hovering it scroll
     backwards, nice dynamic effect but not
     nessecarily best for UX ??  
     user can still hold shift to scroll
     faster when effect is happening tho...*/
  transition: 60s;
  -webkit-transition: 60s;
  -moz-transition: 60s;
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
}
.row__posters:hover {
  margin-left: -10000px;
  /* ...end of comment above */
}
.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 220px;
  margin-right: 10px;
  transition: transform 500ms;
}
.row__poster:hover {
  transform: scale(1.2);
}

.row__posterLarge {
  max-height: 270px;
}
.row__posterLarge:hover {
  transform: scale(1.3);
}
